.zoomBtn {
    text-align: center!important;
}

.zoomBtn > svg{
    width: 18px;
    fill: #fff;
    transition: .1s;
}

.zoomBtn--zoomed > svg{
   fill: #e62117; 
}

.zoomBtn__zoom-in,
.zoomBtn__zoom-out{
    transition: .2s;
}

.zoomBtn--zoomed .zoomBtn__zoom-in,
.zoomBtn__zoom-out{
    opacity: 0;
    transform: scale(.3,.3);
}

.zoomBtn--zoomed .zoomBtn__zoom-out{
    opacity: 1;
    transform: scale(1,1);
}

.html5-video-container{
    transition: .5s!important;
}

.zoomWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.zoomWrapper.zoomWrapper--active{
    display: inherit;
    z-index: 15;
    cursor: zoom-in;
}

.zoomWrapper.zoomWrapper--zoomed{
    cursor: zoom-out;
}